
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.bg-center {
  background-position: center center;
}
.bg-cover {
  background-size: cover;
}


body {
  background-color: #f3f4f6; 
  margin: 0;
  font-family: Arial, sans-serif; 
}



#cartpopup{
  z-index: 0;
}